<a href="https://colab.research.google.com/github/nbchan/INMR96-Digital-Health-and-Data-Analytics/blob/main/Week_3_Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Printing values

Use `print()` for displaying outputs on screen. 

If you do not specify `print`, only the last output within a cell will be shown.

In [ ]:
print('Hello World!')

Hello World!

# Comments

Apart from using text cells, you can also add comments within code cells to enchance clarity of your code. 

In code cells, anything written after a `#` would be regarded as a comment and not be processed.

In [ ]:
print('Hello World!') # This is a comment
print('Script goes on')

Hello World!
Script goes on

# Variable Types

* Variables are how values are stored in a Python script.
* You assign a value using the `=` operator
* Each variable should be assigned with a unique variable name. If you assign a value to an existing variable, the old value will be overwritten. 
* There are different variable types, the basic ones include:
  * Number (integers and decimals)
  * Booleans (True or False)
  * Text/String
  * Date
  * List
  * Dictionary
* You cannot perform operations that are incompatible with the variable data type. For example, you cannot multiply two variables with type text. 

You can use `type()` to inspect a variable's data type when needed.

In [ ]:
person_name = 'Johnson'
type(person_name)

str

In [ ]:
person_age = 56
type(person_age)

int

# Basic Arithmetic Operators

The following table outlines the basic operators for arithmetics.

| Operator | Description | Example | Output |
|----------| ----------- | ------- | ------ |
| `+`  | Addition           | `7 + 2`  | `9`   | 
| `-`  | Subtraction        | `7 - 2`  | `5`   |
| `/`  | Division           | `7 / 2`  | `3.5` |
| `//` | Integer division | `7 // 2` | `3`   | 
| `*`  | Multiplication     | `7 * 2` | `14`  | 
| `%`  | Modulus            | `7 % 3`  | 1   |
| `**` | Exponentiation | `7 ** 2` | `49` | 

We can perform calculations based on the variables we create.

In [ ]:
a = 7
b = 2

print(a + b)
print(a / b)
print(a ** b)

9
3.5
49

#  Comparison/Relational Operators

* Comparison operators compare two values and output a Boolean variable (`True` or `False`).

| Operator | Description | Example | Output |
|----------| ----------- | ------- | ------ |
| `==` | True if values are equal     | `2 == 2`  | True  | 
| `!=` | True if values are not equal | `2 != 1`  | True  |
| `>`  | Greater than                 | `100 > 2` | True  |
| `<`  | Less than                    | `2 < 2`  | False | 
| `>=` | Greater than or equal        | `5 >= 5`  | True  | 
| `<=` | Less than or equal           | `8 <= 2`  | False  |

In [ ]:
print(person_name == 'johnson') # note that text variables are case sensitive
print(a / b < 3)
print(a * b > a + b)

False
False
True

#  Logic operators

* Logic operators combine two or more boolean variables into one.

| Operator | Description | Example | Output |
|----------| ----------- | ------- | ------ |
| `and` | check if both conditions are true | `2 > 1 and 3 > 4` | False  | 
| `or`  | check if either condition is true | `2 < 3 or 1 > 8`  | True  |
| `not` | reverses the logical value | `not 2 < 3` | True |

# Exercise 1

Given the a person's height is 5 ft 9 inches, use the variables below to compute the person's height in meters and assign it to `person_height_m`.

(1 feet = 0.3048 meters; 1 inch = 0.0254 meters)

In [ ]:
person_height_ft = 5
person_height_inch = 9

## Suggested solution

In [ ]:
person_height_m = person_height_ft * 0.3048 + person_height_inch * 0.0254
person_height_m

1.7526

# Exercise 2

The person above weighs 111 kilograms. What is the person's body-mass index (BMI; assign to `person_bmi`)?

Is the person overweight based on the criteria BMI > 25 (assign to `person_overweight`)?

In [ ]:
person_weight = 111

## Suggested Solution

In [ ]:
person_bmi = person_weight / (person_height_m ** 2) 
person_bmi

36.13743837443567

In [ ]:
person_overweight = person_bmi > 25
person_overweight

True

# Strings

* String data types store sequences of characters.
* These must be enclosed in quotes (`'`) or double-quotes (`"`) to distinguish them from variable names.
* You can concatenate multiple string variables with `+`
* The `len()` function can return the length of a string (total number of characters).
* Strings also have many other [built-in functions](https://docs.python.org/2/library/stdtypes.html#string-methods) used to manipulate them.

In [ ]:
string_greeting = "Hi, this is "
string_greeting_name = string_greeting + person_name
print (string_greeting_name)

Hi, this is Johnson

*Caveat*: Sometimes you have to be aware of numbers stored as strings in a dataset. They are treated differently and have different behaviours.

In [ ]:
c = '1' # this variable is stored as a string
print(c == 1)
print(c == '1')

False
True

In [ ]:
c + 5 # would result in an error

TypeError: ignored

# Lists

* Lists are used to group multiple values together.
* The values are usually, but not necessarily, of the same type.
* Lists are enclosed by square brackets `[` and `]`. 
* Elements in lists can be added, removed or changed.

There are several functions associated with lists in Python. 

* `len(list_name)` returns the number of elements in a list
* `list_name.append(x)` adds a new element `x` to the end of the list
* `list_name.count(x)` counts the number of times the value `x` appears in the list

As an example, the body temperature of some patients is represented as a list and stored in `patients_body_temperature`.

In [ ]:
patients_body_temperature = [36.4, 37.8, 37, 35.8, 35.6, 36.2, 36.4, 36.9, 37.5]

print(patients_body_temperature)
print(len(patients_body_temperature))
print(patients_body_temperature.count(36.4))

[36.4, 37.8, 37, 35.8, 35.6, 36.2, 36.4, 36.9, 37.5]
9
2

In [ ]:
patients_body_temperature.append(36.4) # add 36.4 to the list

print(patients_body_temperature)
print(len(patients_body_temperature))
print(patients_body_temperature.count(36.4))

[36.4, 37.8, 37, 35.8, 35.6, 36.2, 36.4, 36.9, 37.5, 36.4]
10
3

## Slicing

Slicing refers to accessing particular list elements or sublists. This is done by the using `list_name[i]` notation after a list's variable name. 

* Elements in lists are indexed.
* **Python counts from 0**, meaning that the first element is indexed 0, the second one is indexed 1, etc.

In [ ]:
example_list = [10, 12, 14, 15, 17, 20]

print(example_list)         # Prints "[10, 12, 14, 15, 17, 20]"

print(example_list[0])      # Get the 0th element; prints "10"
print(example_list[1])      # Get the 1st element; prints "12"
print(example_list[4])      # Get the 4th element; prints "17"

print(example_list[-1])     # Get the last element; prints "20"

[10, 12, 14, 15, 17, 20]
10
12
17
20

In [ ]:
# we can also edit an element in a list
example_list[1] = example_list[1] + 20
print(example_list)

[10, 32, 14, 15, 17, 20]

If you want to access a sublist, use the `list_name[i:j]` notation instead. Here, `i` is inclusive but `j` is exclusive.

In [ ]:
print(example_list[2:4])    # Get a slice from index 2 to 4 (exclusive); prints "[14, 15]"
print(example_list[2:])     # Get a slice from index 2 to the end; prints "[14, 15, 17, 20]"
print(example_list[:2])     # Get a slice from the start to index 2 (exclusive); prints "[10, 12]"
print(example_list[:-2])    # Get a slice from the start to the second last element (exclusive); prints "[10, 12, 14, 15, 17]"

[14, 15]
[14, 15, 17, 20]
[10, 32]
[10, 32, 14, 15]

# Loops

`For` iterates over the items of a sequence or list in order.
You can loop over the elements of a list like this. Note that the variable `animal` is a dummy variable that is only used as a token in the for loop.

In [ ]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)

cat
dog
monkey

When analyzing data, frequently we want to transform one type of data into another. As a simple example, consider the following code that computes square numbers:

In [ ]:
print(example_list)

squares_list = [] # first create an empty list to store our results
for x in example_list: # loop through the original list
    squares_list.append(x ** 2) # compute squares then add to the squares_list

print(squares_list) # print our result

[10, 32, 14, 15, 17, 20]
[100, 1024, 196, 225, 289, 400]

Alternatively, you can make this code simpler by using *list comprehension*, which loops through a list and creates a new list on the fly.

In [ ]:
squares_list = [x ** 2 for x in example_list]
print(squares_list)

[100, 1024, 196, 225, 289, 400]

# Exercise 3

Using the body temperature list `patients_body_temperature`, create a list that indicates

1. their body temperatures in °F (multiply values in °C by 1.8 and add 32).
2. whether they have fever, as defined by body temperatures over 37.6°C.

In [ ]:
print(patients_body_temperature)

[36.4, 37.8, 37, 35.8, 35.6, 36.2, 36.4, 36.9, 37.5, 36.4]

## Suggested solution

3.1

In [ ]:
patients_body_temperature_f = []

for x in patients_body_temperature: # loop through the original list
    patients_body_temperature_f.append(x * 1.8 + 32)

print(patients_body_temperature_f)

[97.52, 100.03999999999999, 98.60000000000001, 96.44, 96.08, 97.16000000000001, 97.52, 98.42, 99.5, 97.52]

In [ ]:
# alternative
patients_body_temperature_f = [x * 1.8 + 32 for x in patients_body_temperature]
print(patients_body_temperature_f)

[97.52, 100.03999999999999, 98.60000000000001, 96.44, 96.08, 97.16000000000001, 97.52, 98.42, 99.5, 97.52]

3.2

In [ ]:
patients_fever = []

for x in patients_body_temperature: # loop through the original list
    patients_fever.append(x > 37.6)

print(patients_fever)

[False, True, False, False, False, False, False, False, False, False]

In [ ]:
# alternative
patients_body_temperature_f = [x > 37.6 for x in patients_body_temperature]
print(patients_body_temperature_f)

[False, True, False, False, False, False, False, False, False, False]